.input-box {
    position: relative;
    width: 100%;
    margin: 0.5vw 0 0.5vw 0;
    padding-top: 1vh;
}

.input-box input {
    width: 100%;
    padding: 3vh 2.5vw 2vh 2.5vw;
    background: #eee;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1vw;
    color: #333;
    transition: all 0.3s ease-in-out;
}


.input-box textarea {
    width: 100%;
    max-height: 40vh;
    min-height: 25vh;
    height: 25vh;
    padding: 3vh 2.5vw 3vh 2.5vw;
    background: #eee;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1vw;
    color: #333;
    transition: all 0.3s ease-in-out;
    resize: none;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
    color: transparent;
    /* Ocultar placeholder para evitar solapamiento */
}

.input-box .label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2vw;
    color: #888;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.input-box textarea+.label {
    position: absolute;
    left: 20px;
    top: 20%;
    transform: translateY(-50%);
    font-size: 1.2vw;
    color: #888;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.input-box input:focus+.label,
.input-box textarea:focus+.label,
.input-box input:not(:placeholder-shown)+.label,
.input-box textarea:not(:placeholder-shown)+.label {
    top: 1.5vh;
    left: 15px;
    font-size: 1vw;
    color: #888;
}

.icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

